{% extends 'base.html' %}

{% block head %} 
<h1 style="text-align: center"> Cifrado </h1>
{% endblock %}


{% block body %}

<div class="form">
    <form action="/ct" style="text-align: center;" method="POST">
        <label for="fname">Texto:</label>
        <input type="text" id="fname" name="text"><br><br>
        <label for="lname">Valores primos:</label>
        <input type="text" id="lname" name="values"><br><br>
        <input type="submit" name="action" value="Mostrar">
        Generar Random<input type="checkbox" name="selection" value="1">

    </form>

    <form action="/cte">
        <input type="submit" value="Regresar">
    </form>

    <br></br>

    <p style="text-align: center;"> {{first}} </p>

    <p style="text-align: center;"> {{ text }} </p>

    <p style="text-align: center;"> {{second}} </p>

    <p style="text-align: center;"> {{ val }} </p>


</div>



{% endblock %}